
#askQuestion{
	background-image: url(../Images/askbg.jpg);
	background-repeat: no-repeat;
	
}

.panel-body{
	background-image: url("../images/box1.jpg");
	height: auto;
}

.askQuestion {
	background-image: url("../Images/2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h2{
	color: white;
}
p{
	color: white;
}