<style>

.formgroup{
	
	height: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 10px;
	margin-right: auto;
	text-align: center;
	width: 660px;
}

#text1 {
	
    margin-left:30px; 
    color:white;
	text-align: center;
   /* // font-family: Arial, Helvetica, sans-serif;
	font-size: 25px; */
	font-family: sans-serif;
}

#txtbx {
	
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid black;
	border-right: 0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

#buttn {
	
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3;
	border-right: 0px;
	background: #000000;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}

#buttn:hover {
	text-decoration: none;
	background: #404040;
}

#buttn::-moz-focus-inner {
	border: 0;
}

#astroimg {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	bottom: 0;
	height:auto;
	width: auto;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 10s; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinity;
	/* Chrome, Safari, Opera */
	-webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
	
	
	animation-name: example;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#astrotalk {
	height:auto;
	width: auto;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	color:grey;
	font-size: 28px;
	position: fixed;
	bottom: 400px;

	width: 300px;
	-webkit-animation-name: example1; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 10s; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinity;
	/* Chrome, Safari, Opera */
	-webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
	
	
	animation-name: example1;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@-webkit-keyframes example { 0% {left: 0px;bottom: 0px;}
                             25%{left:1150px;bottom:0px;}
                             50%{left:0px;bottom:0px;}
                             75%{left:1150px;bottom:0px;}
                             100%{left:0px;bottom:0px;}
                            }
@-webkit-keyframes example1 { 0% {left: 0px;bottom: 400px;}
                             25%{left:1150px;bottom:400px;}
                             50%{left:0px;bottom:400px;}
                             75%{left:1150px;bottom:400px;}
                             100%{left:0px;bottom:400px;}
                             }
                             
@keyframes example { 0% {left: 0px;bottom: 0px;}
                             25%{left:1150px;bottom:0px;}
                             50%{left:0px;bottom:0px;}
                             75%{left:1150px;bottom:0px;}
                             100%{left:0px;bottom:0px;}
                            }
@keyframes example1 { 0% {left: 0px;bottom: 400px;}
                             25%{left:1150px;bottom:400px;}
                             50%{left:0px;bottom:400px;}
                             75%{left:1150px;bottom:400px;}
                             100%{left:0px;bottom:400px;}
                             }
#mainwrapper {
  font: 10pt normal Arial, sans-serif;
  height: auto;
  margin: 80px auto 0 auto;
  text-align: center;
  width: 660px;
}


#mainwrapper .box {
    border: 5px solid #fff;
    cursor: pointer;
    height: 182px;
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
    width: 210px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}
 
#mainwrapper .box img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}


#mainwrapper .box .caption {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 100;
     width: 200px;
    height: 200px;
    top: -200px;
    margin-right:69px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
}

#mainwrapper .box .full-caption {
    width: 200px;
    height: 200px;
    top: -200px;
    text-align:center;
    padding: 0px;
}

#mainwrapper .box:hover .full-caption {
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
</style>